/*!
 * URI: -
 * Author: Julian Damas Suryawan
 * Author URI: http://juliandamass.com/
 * Contributor: Julian Damas Suryawan
 * Copyright: Minibigpixel, enamdua
 * Description: enamdua
*/

/* variables */

$ed-black: #000000;
$ed-white: #ffffff;
$ed-white-1: #f5f5f5;
$ed-grey-1: #bababa;
$ed-red-1: #dd1212;
$ed-brown-1: #473a3a;

/* end variables */

/* bootstrap */

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

/* end bootstrap */

/* bootstrap variables custom */

$ed-theme-colors: (
  'ed-black': $ed-black,
  'ed-white': $ed-white,
  'ed-white-1': $ed-white-1,
  'ed-grey-1': $ed-grey-1,
  'ed-red-1': $ed-red-1,
  'ed-brown-1': $ed-brown-1,
);

$theme-colors: map-merge($theme-colors, $ed-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, '$key', 'text');
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, '$key', 'bg');

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  '66px': 66px,
  '72px': 72px,
  '80px': 80px,
  '110px': 110px,
);

$gutters: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  '66px': 66px,
  '72px': 72px,
  '80px': 80px,
  '110px': 110px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1536px,
);

/* end bootstrap variables custom */

/* bootstrap */

@import '../../node_modules/bootstrap/scss/bootstrap';

/* end bootstrap */

/* general */

body {
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: $ed-brown-1;
}

.btn {
  border-radius: 0;
}

.btn-xxl {
  padding: 12px 130px;
  font-size: 48px;
}

.c-pointer {
  cursor: pointer;
}

.thumbnail-square {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 100%;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* general */

/* main */

.main-container {
  padding-top: 90px;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-left: 160px;
  }

  @include media-breakpoint-up(xxxl) {
    padding-left: 200px;
  }
}

.content-container {
  padding: 0 30px;

  @include media-breakpoint-up(lg) {
    padding: 0 42px;
  }

  @include media-breakpoint-up(xxxl) {
    padding: 0 86px;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  max-height: 90px;
  background-color: $ed-red-1;
  transition-property: left, filter, max-height;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  z-index: 1000;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    left: -540px;
    flex-direction: row;
    width: 700px;
    height: 100vh;
    max-height: initial;
  }

  @include media-breakpoint-up(xxxl) {
    left: -800px;
    width: 1000px;
  }

  .main-nav-link {
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    color: $ed-white;
    white-space: nowrap;
    text-decoration: none;

    @include media-breakpoint-up(lg) {
      font-size: 64px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 92px;
    }
  }

  .main-nav-left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    padding: 120px 30px 30px;
    background-color: $ed-red-1;
    z-index: 10;

    @include media-breakpoint-up(lg) {
      position: relative;
      padding: 60px 60px 50px;
      margin-top: 0;
    }

    @include media-breakpoint-up(xxxl) {
      padding: 120px 120px 100px;
    }

    .main-nav-menus {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      height: 100%;
      list-style: none;

      .main-nav-menu {
        position: relative;
        top: -50vh;
        left: 0;
        transition-property: top, margin-top;
        transition-duration: 0.7s;
        transition-timing-function: ease-in-out;

        @include media-breakpoint-up(lg) {
          transition-property: left, margin-top;
          top: 0;
          left: -45vw;
        }

        & + .main-nav-menu {
          margin-top: 34px;
        }

        &.main-nav-menu-bottom {
          & + .main-nav-menu-bottom {
            margin-top: 26px;
          }

          &:nth-last-child(2) {
            @include media-breakpoint-up(lg) {
              margin-top: auto;
            }
          }

          .main-nav-link {
            font-size: 28px;

            @include media-breakpoint-up(lg) {
              font-size: 42px;
            }

            @include media-breakpoint-up(xxxl) {
              font-size: 60px;
            }
          }
        }
      }
    }
  }

  .main-nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px 10px;
    background-color: $ed-red-1;
    z-index: 20;

    @include media-breakpoint-up(lg) {
      flex-direction: column;
      width: auto;
      height: 100%;
      padding: 30px 30px 50px;
    }

    @include media-breakpoint-up(xxxl) {
      padding: 45px 50px 100px;
    }

    .main-nav-logo {
      height: 70px;

      @include media-breakpoint-up(lg) {
        height: auto;
      }
    }
  }

  .main-nav-icons {
    padding: 0;
    margin: 0;
    list-style: none;

    .main-nav-icon {
      position: relative;
      left: -45vw;
      display: none;
      transition-property: left;
      transition-duration: 0.7s;
      transition-timing-function: ease-in-out;

      @include media-breakpoint-up(lg) {
        display: block;
      }

      &.main {
        left: 0;
        display: block;

        .main-collapse {
          display: none;
        }
      }

      &:first-child {
        @include media-breakpoint-up(lg) {
          margin-bottom: 30px;
        }

        @include media-breakpoint-up(xxxl) {
          margin-bottom: 54px;
        }
      }

      & + .main-nav-icon {
        margin-top: 12px;

        @include media-breakpoint-up(xxxl) {
          margin-top: 24px;
        }
      }
    }
  }

  &.expanded {
    left: 0;
    max-height: 1500px;
    filter: drop-shadow(20px 0px 40px rgba(0, 0, 0, 0.25));

    .main-nav-left .main-nav-menus .main-nav-menu,
    .main-nav-right .main-nav-icons .main-nav-icon {
      top: 0;
      left: 0;
    }

    .main-nav-right .main-nav-icons .main-nav-icon.main {
      .main-expand {
        display: none;
      }

      .main-collapse {
        display: block;
      }
    }
  }

  .main-nav-animated {
    @for $i from 2 to 10 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.05s;
      }
    }
  }
}

.hero {
  width: 100%;
  padding: 10px 0 30px;
  background-color: $ed-red-1;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 48px 0 72px;
  }

  @include media-breakpoint-up(xxxl) {
    padding: 72px 0 90px;
  }

  .hero-title {
    margin-bottom: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 1;
    color: $ed-white;

    @include media-breakpoint-up(xxxl) {
      font-size: 70px;
    }
  }

  .hero-logo {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 56px;

    @include media-breakpoint-up(xxxl) {
      max-width: 812px;
      margin-bottom: 80px;
    }
  }

  .hero-video-container {
    display: flex;
    overflow: hidden;
  }

  .hero-video {
    width: 1620px;
    height: 280px;
    margin-left: auto;
    margin-bottom: 36px;
    object-fit: cover;

    @include media-breakpoint-up(xxxl) {
      height: 302px;
      margin-bottom: 78px;
    }
  }

  .hero-text {
    max-width: 610px;
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 34px;
    color: $ed-white;
  }

  &.our-world {
    padding: 30px 0;
    background-color: $ed-white;

    @include media-breakpoint-up(lg) {
      padding: 15px;
    }

    @include media-breakpoint-up(xxxl) {
      padding: 112px 100px;
    }

    .hero-title {
      margin-bottom: 15px;
      font-size: 48px;
      line-height: 1;
      color: $ed-red-1;

      @include media-breakpoint-up(lg) {
        margin-bottom: 30px;
        font-size: 200px;
      }
    }

    .hero-subtitle {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
      line-height: 34px;
      color: $ed-black;

      @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
      }
    }

    .hero-text {
      max-width: 100%;
      margin: 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.25;
      color: $ed-red-1;

      @include media-breakpoint-up(lg) {
        max-width: 80%;
        font-size: 48px;
      }
    }
  }
}

.about {
  padding-bottom: 30px;
  background-color: $ed-red-1;

  .about-img {
    width: 100%;
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
      margin-bottom: -30%;
    }
  }

  .about-text {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: $ed-white;

    &.big {
      font-size: 40px;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.our-world {
  padding: 30px 0;

  @include media-breakpoint-up(lg) {
    padding: 100px 40px 30px;
  }

  @include media-breakpoint-up(xxxl) {
    padding: 100px 40px;
  }

  .our-world-title {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    color: $ed-red-1;

    @include media-breakpoint-up(lg) {
      font-size: 110px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 160px;
      line-height: 175px;
    }
  }

  .our-world-text {
    margin-bottom: 40px;
    color: $ed-brown-1;

    @include media-breakpoint-up(xxxl) {
      font-size: 24px;
      line-height: 34px;
    }
  }
}

.detail {
  padding: 34px 0 78px;

  .detail-title {
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    color: $ed-red-1;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 92px;
    }
  }

  .detail-content {
    margin-top: 3%;

    @include media-breakpoint-up(xxxl) {
      margin-top: 6%;
    }

    .detail-content-title {
      margin-bottom: 12px;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      color: $ed-red-1;

      @include media-breakpoint-up(xxxl) {
        font-size: 48px;
      }
    }

    .detail-content-text {
      max-width: 440px;
      margin: 0;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      color: $ed-brown-1;

      @include media-breakpoint-up(lg) {
        margin-left: auto;
        margin-bottom: 0;
      }
    }

    .detail-content-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        direction: rtl;
      }
    }

    .detail-content-box {
      width: 80px;
      height: 80px;
      border-radius: 12px;
      border: 2px solid $ed-red-1;
      background-color: transparent;

      @include media-breakpoint-up(xxxl) {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.description {
  padding: 60px 0;
  background-color: $ed-brown-1;

  @include media-breakpoint-up(lg) {
    padding: 100px 0;
  }

  @include media-breakpoint-up(xxxl) {
    padding: 195px 0 202px;
  }

  .description-title {
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    color: $ed-red-1;
  }

  .description-text {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: $ed-white;
  }

  .description-content {
    margin-top: 30px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-top: 42%;
    }
  }
}

.partner {
  padding: 40px 0 80px;
  background-color: $ed-brown-1;

  .partner-tab-logo {
    width: 100%;
    border-radius: 20px;
  }

  .partner-title {
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    color: $ed-white;

    @include media-breakpoint-up(lg) {
      font-size: 64px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 92px;
    }
  }

  .partner-detail {
    margin-bottom: 40px;
    font-weight: 700;
  }

  .partner-text {
    margin: 0;
    line-height: 34px;
  }
}

.footer {
  padding: 60px 0;
  background-color: $ed-white-1;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }

  .footer-title {
    margin-bottom: 38px;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    color: $ed-red-1;
  }

  .footer-menus {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    .footer-menu {
      @include media-breakpoint-up(lg) {
        margin-right: 82px;
      }

      .footer-menu-title {
        margin-bottom: 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
      }

      .footer-menu-items {
        display: flex;
        flex-direction: column;

        .footer-menu-item {
          font-size: 20px;
          font-weight: 400;
          line-height: 34px;
          color: $ed-brown-1;
          text-decoration: none;

          @include media-breakpoint-up(lg) {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .footer-other-menus {
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
    margin-bottom: 22px;
    border-bottom: 1px solid $ed-grey-1;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    .footer-other-menu {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      color: $ed-grey-1;
      text-decoration: none;

      & + .footer-other-menu {
        @include media-breakpoint-up(lg) {
          margin-left: 28px;
        }
      }
    }
  }

  .footer-c {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: $ed-grey-1;
  }
}

.inside {
  padding: 30px 0;

  @include media-breakpoint-up(lg) {
    padding: 117px 0;
  }

  .inside-title {
    margin-bottom: 38px;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    color: $ed-red-1;

    &.outline {
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: $ed-red-1;
    }

    @include media-breakpoint-up(lg) {
      font-size: 92px;
      line-height: 110px;
    }
  }

  .inside-text {
    margin-bottom: 38px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: $ed-brown-1;
  }
}

.talents {
  padding: 30px 0;
  background-color: $ed-brown-1;

  @include media-breakpoint-up(lg) {
    padding: 90px 0 84px;
  }

  .talents-title {
    margin-bottom: 30px;
    font-size: 58px;
    font-weight: 700;
    line-height: normal;
    color: $ed-red-1;

    @include media-breakpoint-up(lg) {
      font-size: 92px;
    }

    @include media-breakpoint-up(xxxl) {
      margin-bottom: 80px;
      font-size: 160px;
      line-height: 175px;
    }
  }

  .talents-text {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: $ed-white-1;
  }

  .talents-text-q {
    width: 100%;
    max-width: 738px;
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    color: $ed-white-1;

    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  .talent-item {
    .talent-item-img {
      margin-bottom: 20px;
    }

    .talent-item-name {
      margin-bottom: 8px;
      font-size: 28px;
      font-weight: 700;
      line-height: normal;
      color: $ed-red-1;

      @include media-breakpoint-up(lg) {
        font-size: 32px;
      }

      @include media-breakpoint-up(xxxl) {
        font-size: 48px;
        line-height: 58px;
      }
    }

    .talent-item-role {
      margin: 0;
      color: $ed-white-1;

      @include media-breakpoint-up(xxxl) {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

.why {
  padding: 30px 0 0;

  @include media-breakpoint-up(lg) {
    padding: 60px 0;
  }

  .why-title {
    margin-bottom: 30px;
    font-size: 62px;
    font-weight: 700;
    line-height: normal;
    color: $ed-red-1;

    @include media-breakpoint-up(lg) {
      margin-bottom: 68px;
      font-size: 110px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 160px;
      line-height: 175px;
    }
  }

  .why-text {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: $ed-red-1;
  }

  .why-img {
    width: 100%;
    height: auto;
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-bottom: -18%;
      transform: scale(1.15);
      transform-origin: top left;
    }
  }
}

.quality {
  padding: 30px 0;
  background-color: $ed-red-1;

  @include media-breakpoint-up(lg) {
    padding: 90px 0 0;
  }

  .quality-title {
    margin-bottom: 30px;
    font-size: 68px;
    font-weight: 700;
    line-height: normal;
    color: $ed-white-1;

    @include media-breakpoint-up(lg) {
      margin-bottom: 60px;
      font-size: 92px;
      line-height: 110px;
    }
  }

  .quality-items {
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      margin-top: 22%;
    }
  }

  .quality-item-title {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    color: $ed-white-1;

    @include media-breakpoint-up(xxxl) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  .quality-item-text {
    margin-bottom: 0;
    color: $ed-white-1;

    @include media-breakpoint-up(xxxl) {
      font-size: 24px;
      line-height: 34px;
    }
  }
}

/* end main */
